
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json


.terraform/
.terraform.lock.hcl


.aws/
config
credentials


__pycache__/
*.pyc


.vscode/
.idea/
.DS_Store


charts/**/charts/
charts/**/tmp/
